
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input id="ff" type="text"/>
<input id="btn" type="button" value="搜尋"/>

<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link disabled" href="#PageCash" data-toggle="tab" role="tab">現金</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#PageStock" data-toggle="tab" role="tab">股票</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#PageFX" data-toggle="tab" role="tab">外匯</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#PageIs" data-toggle="tab" role="tab">儲蓄險</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#PageFund" data-toggle="tab" role="tab">基金</a>
        </li>


    </ul>
    <div class="tab-content " id="myTabContent">

        <div class="tab-pane active" id="PageCash" role="tabpanel">
            <span>@Html.Action("IndexCashI", "BS")</span>
        </div>

        <div class="tab-pane fade" id="PageStock" role="tabpanel">
            <span>@Html.Action("IndexStock", "BS")</span>

        </div>

        <div class="tab-pane fade" id="PageFX" role="tabpanel">
            <span>@Html.Action("IndexFX", "BS")</span>

        </div>
        <div class="tab-pane fade" id="PageIs" role="tabpanel">
            <span>@Html.Action("IndexIs", "BS")</span>

        </div>
        <div class="tab-pane fade" id="PageFund" role="tabpanel">
            <span>@Html.Action("IndexFund", "BS")</span>

        </div>
    </div>
</div>

@section scripts{
    <script>

        function xxx() {
            @*@Session["ff"] = $("#ff").val();*@
            localStorage.ff = $("#ff").val();

            alert($("#ff").val());
        }

        $(function () {
            $("#btn").click(xxx);
        });
        
    </script>
    
    }






    @*<div class="col-lg-12">
        <span>@Html.Action("IndexCashI", "BS")</span>
    </div>

    <div class="col-lg-12">
        <span>@Html.Action("IndexCashE", "BS")</span>
    </div>

    <div class="col-lg-12">
        <span>@Html.Action("IndexStock", "BS")</span>
    </div>

    <div class="col-lg-12">
        <span>@Html.Action("IndexFX", "BS")</span>
    </div>

    <div class="col-lg-12">
        <span>@Html.Action("IndexIs", "BS")</span>
    </div>

    <div class="col-lg-12">
        <span>@Html.Action("IndexFund", "BS")</span>
    </div>*@

