@model IEnumerable<F1005.Models.CurrencyRate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashBuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashSell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineBuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineSell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurrencyClass }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurrencyClass }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyClass })
        </td>
    </tr>
}

</table>
