@model IEnumerable<F1005.Models.StockHistory>

@{
    ViewBag.Title = "IndexStock";
}

<h2>IndexStock</h2>
<div class="col-lg-12">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stockPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockNetincome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockIDList.stockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryTable.TradeType)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.stockPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockTP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockNetincome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockIDList.stockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SummaryTable.TradeType)
                </td>
            </tr>
        }

    </table>
</div>

<div class="col-lg-12">
    <span>@Html.Action("IndexFX", "BS")</span>
</div>

